<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b9cf2355-6369-4486-98f8-b32a7e3469f9/resourcegroups/FilmApIGroup/providers/Microsoft.ContainerRegistry/registries/FilmBookApiTelegramBot20210601153130</ResourceId>
    <ResourceName>FilmBookApiTelegramBot20210601153130</ResourceName>
    <ResourceGroup>FilmApIGroup</ResourceGroup>
    <Subscription>Azure для учащихся</Subscription>
    <RegistryUrl>https://filmbookapitelegrambot20210601153130.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>